<nav class="sidebar">
  <div class="sidebar-menu">

    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <span>Accueil</span>
    </a>

    <a
      routerLink="/documents"
      routerLinkActive="active"
    >
      
      <span>Mes cours</span>
    </a>

    <a
      routerLink="/chat"
      routerLinkActive="active"
    >
      
      <span>Chat IA</span>
    </a>

    <a
      routerLink="/revision"
      routerLinkActive="active"
    >
      
      <span>Révision / QCM</span>
    </a>

    <a
      routerLink="/history"
      routerLinkActive="active"
    >
    
      <span>Historique</span>
    </a>

    <a
      routerLink="/profile"
      routerLinkActive="active"
    >
     
      <span>Profil</span>
    </a>

  </div>

  <div class="sidebar-decoration">
    <span>Build the future</span>
    <span>together</span>
    
  </div>
</nav>