<nav class="sidebar">
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    Accueil
  </a>

  <a routerLink="/chat" routerLinkActive="active">
    Chat IA
  </a>

  <a routerLink="/documents" routerLinkActive="active">
    Mes cours
  </a>

  <a routerLink="/revision" routerLinkActive="active">
    Révision / QCM
  </a>

  <a routerLink="/history" routerLinkActive="active">
    Historique
  </a>

  <a routerLink="/profile" routerLinkActive="active">
    Profil
  </a>
</nav>